* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }

img {
  max-width: 100%;
  height: auto;
}

.linkje  {
  font-family: 'my coffee break', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  background-color: #0e5673;
  color: white;
  margin: -0.5rem 1.5rem 1rem;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3rem;
}

a {
  color: #0e5673;
}

ul {
  margin: 0rem 1rem;
  list-style-image: url(../images/bulletpoint.png);
}

.titel-header {
  background-color: #032940;
  display: flex;
  align-items: center;
  padding: 5vw 10vw;
  
}

h1 {
    color: white;
    font-family: 'my coffee break', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    padding: 0vw 5vw;
}


.dropbtn {
    border: none;
    background-color: #032940;
}

.dropbtn img{
    width: 25vw;
    height: auto;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  min-width: 50vw;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h2 {
  color: #0e5673;
  font-family: 'my coffee break', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;
}

footer {
  background-color: #032940;
  color: white;
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verhaal {
  margin-bottom: 0px;
}

.tekst-verhaal {
  background-color: #0e5673;
  color: white;
  margin: 0px 1.5rem;
  padding: 1rem;
  margin-top: -0.7rem;
}

.opmaak-verhaal {
  margin: 0px 1.5rem;
  width: calc(100% - 3em);
}

.bgd-cijfers {
  background-image: url(../images/cijfers-background.png);
  background-size: cover;
 
}

.cijfer {
  font-family: "brush script mt", Arial, Helvetica, sans-serif; 
  font-size: 2rem;
  font-weight: 1000;
  color: #F2CD11;
  margin: 0rem 1.5rem -1rem 50vw;
}

.cijfer-1 {
  font-family: "brush script mt", Arial, Helvetica, sans-serif; 
  font-size: 2rem;
  font-weight: 1000;
  color: #F2CD11;
  margin: 0rem 1.5rem -1rem 50vw;
  padding: 2.3rem 0rem 0rem;
}

.eenheid {
  font-family: 'my coffee break', Arial, Helvetica, sans-serif;
  color: #F2CD11;
  font-size: 2rem;
  margin: 0.5rem 1.5rem 0rem 50vw;
}

.uitleg {
  margin: 0rem 1.5rem 1.5rem 50vw;
  color: white;
}

.uitleg-1 {
  margin: -0.4rem 1.5rem 0rem 50vw;
  color: white;
}

.uitleg-2 {
  margin: 0rem 1.5rem 0rem 50vw;
  padding: 0rem 0rem 3.5rem;
  color: white;
}

.recyclen {
  display: flex;
}

.recyclen img {
  width: 50vw;
}

.cijfer-2 {
  font-family: "brush script mt", Arial, Helvetica, sans-serif; 
  font-size: 2rem;
  font-weight: 1000;
  color: #F2CD11;
  margin: 0rem 1.5rem -1rem;
}

.eenheid-2 {
  font-family: 'my coffee break', Arial, Helvetica, sans-serif;
  color: #F2CD11;
  font-size: 2rem;
  margin: 0.5rem 1.5rem 0rem;
}

.tekst-3 {
  margin: -0.4rem 1.5rem 1.5rem;
  color: #032940;
}

.tekst-3 span {
  font-family: "brush script mt", Arial, Helvetica, sans-serif; 
  font-size: 1rem;
  font-weight: 1000;
  color: #F2CD11;
  
}

.tekst-4 {
  margin: 3rem 1.5rem 1.5rem;
  color: #032940;
}

.slag-fles {
  background-image: url(../images/plastic-fles.png);
  background-size: contain;
  margin: 1rem 1.5rem;
  padding: 2.7rem 0.5rem 2.7rem 3.5rem; 
  font-size: 2rem;
}



.slag-shampoo {
  background-image: url(../images/shampoo-fles.png);
  background-size: contain;
  margin: 1rem 1.5rem;
  padding: 2.9rem 3.5rem 2.9rem 0.5rem; 
  font-size: 2rem;
}


.slag-tas {
  background-image: url(../images/plastic-tas.png);
  background-size: contain;
  margin: 1rem 1.5rem;
  padding: 3.9rem 2.5rem 3.9rem 1.5rem; 
  font-size: 2rem;
}
  
.slag-ander {
  background-image: url(../images/vuilnis-zak.png);
  background-size: contain;
  margin: 1rem 1.5rem;
  padding: 3.9rem 1rem 3.9rem 3rem; 
  font-size: 2rem;
}

.slag-tekst {
  margin: 1.5rem;
}



.op-pad {
  background-color: #78CED8;
  margin:  1.5rem;
  border-radius: 17.5vw;
}

.op-pad img {
  width: 35vw;
  height: auto;
}

.op-pad h2 {
  font-size: 1.8rem;
}

.op-pad p, ul{
  padding: 1rem 1.5rem;
}

.pad-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

